---
layout: manual
filter: haml
---
%h2 Creating Data Forms
#history-page
  %p The  process of designing data forms has been made extremely easy. In this section, descriptions of each of the different types of widgets will be given along with step-by-step instructions on how to use each one. Some of the individual widget descriptions contain small examples that can be duplicated easily or used freely in your data descriptions. The widgets are divided into two different classes: container widgets and first-level widgets.

#page-links
  .previous
    %a{:href => "nesting.html"} Previous page
  .next
    %a{:href => "widgets/pulldown.html"} Next page
  .top
    /%a{:href => "search.html"} Return to top of page