---
layout: manual
filter: haml
---

%h2 Brief Demo
%p
  Let's first get familiar with the NeuroSys environment, and then look at a sample
  a entry form for entering information about birds. The data in the bird database include
  images, journal articles (PDFs), and vocalizations (WAV files), as well as
  contributor name and contact information and the states in which a bird is found.
  %br/
  %br/
  %br/
%span{:style => "font-size: 1.2em; font-weight: bold"} The NeuroSys Environment
%br/
The image below shows the java client window after logging in to the bird database. There
are separate tabs for the four different ways you can interact with data: Browse,
Enter Data, Search, and Create Form.
%br/
%br/
%strong Browse
is a read-only view of your data form.
%br/
%br/
%strong Enter Data
allows you to change data in an existing data form.
%br/
%br/
%strong Search
allows you to query data fields in all of the existing forms.
%br/
%br/
%strong Create Form
allows you to modify the data form itself.
%br/
%br/
%img{:alt => "Application Example", :src => "images/Browse_files_displayed.jpg", :title => "Application Example"}/
%br/
%br/
By selecting (via single click) a bird name in the list, and then clicking the
%strong Enter Data
button at the bottom of the
window, you will be able to view the record in data entry format, as shown here:
%br/
%br/
%img{:alt => "Enter Data Screen", :src => "images/Enter_Data_1.jpg", :title => "Enter Data"}/
%br/
%br/
%br/
%br/
%br/
%br/
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left"}
      %a{:href => "intro.html"} Previous page
    %td{:align => "center"}
      %a{:href => "demo.html"} Return to top of page
    %td{:align => "right"}
      %a{:href => "form.html"} Next page
