---
layout: manual
filter: haml
---
%h2 Nesting Widgets
#history-page
  %p
    The reason for nesting widgets is to provide a means
    of grouping attributes that describe an object or procedure.
    For example, the settings for a microscope on a particular data
    acquisition event may be the resolution, objective and zoom-value, or in
    the example to the right, the location having the region, state,
    county and the GPS coordinates.
  %p
    Remember that when adding new widgets, they show
    up at the bottom of the data form with the label being the name of the
    widget and a number. Double-click the name to change it.
    They can then be moved, if desired, up into one of the container
    widgets.
  %blockquote
    %span.note Note: 
    The container widgets (the tree, array screen and screen select)
    can all nest any other widget. The first-level widgets, however,
    cannot nest any other widget.
  %img{:src => "/images/history/nesting.jpg"}/


#page-links
  .previous
    %a{:href => "modify.html"} Previous page
  .next
    %a{:href => "create.html"} Next page
  .top
    %a{:href => "nesting.html"} Return to top of page
