---
layout: manual
filter: haml
---
%h2 Text field widget
#history-page
  %p
    The text field widget is the most basic of all widgets. It is composed of a
    label and an empty text box for entering user input with the keyboard.

  %h3 Example:
  %img{:src => "/images/history/widgets/textfield_ex.jpg"}/

  %p
    In the Create Form tab, click the text field icon in the toolbar. Choose a
    single line or multi line text field.
  %img{:src => "/images/history/widgets/text.jpg"}/
  
  %p A new text field widget appears with a default label.
  %img{:src => "/images/history/widgets/tf1.jpg"}/

  %p
    Double click on the default label, and in the dialog box that appears, enter
    the label name.
  %img{:src => "/images/history/widgets/tf2.jpg"}/
  
  %p The text field is now ready to accept keyboard in put in Enter Data mode.
  %img{:src => "/images/history/widgets/tf3.jpg"}/

#page-links
  .previous
    %a{:href => "pulldown.html"} Previous page
  .next
    %a{:href => "url.html"} Next page
  .top
    %a{:href => "textfield.html"} Return to top of page