---
layout:    mien
filter:    haml
title:     MIEN
---
%h2 MIEN: Model Interaction Environment for Neuroscience
%br/
%p MIEN is a package of interface and library code intended to make a number of scientific modeling, data markup, and data storage tasks easier. MIEN was developed for use in computational neuroscience. Neuroscience remains in the name, and many of the extension functions are devoted to neuroscience tasks, but a good deal of effort has gone into making the core MIEN package a general purpose scientific modeling and data visualization tool with a flexible extension system. MIEN is implemented primarily in Python, making heavy use of the excellent NumPy extension library. The MIEN GUIs use the equally excellent wxWidgets library (and its wxPython wrapper), as well as PyOpenGL for 3D visualization. Aside from these dependencies, the MIEN core is a pure Python project. Various extension packages make use of C Python extensions.
%br/
%img{:alt => "Density Clouds", :border => "0", :height => "245", :src => "/images/mien/embed102L1map.jpg", :width => "275"}/
%img{:border => "0", :height => "245", :src => "/images/mien/L1.jpg", :width => "275"}/
%br/
%br/
%table
  %tr
    %td{:width => "100"}
    %td
      :javascript
              %noscript
        %object{:classid => "clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B", :codebase => "http://www.apple.com/qtactivex/qtplugin.cab", :height => "256", :width => "320"}
          %param{:name => "src", :value => "rotation2/rotation2-poster.jpg"}/
          %param{:name => "href", :value => "rotation2/rotation2.mov"}/
          %param{:name => "target", :value => "myself"}/
          %param{:name => "controller", :value => "false"}/
          %param{:name => "autoplay", :value => "false"}/
          %param{:name => "scale", :value => "aspect"}/
          %param{:name => "hspace", :value => "200px"}/
          %embed{:autoplay => "false", :controller => "false", :height => "256", :href => "rotation2/rotation2.mov", :hspace => "200px", :pluginspage => "http://www.apple.com/quicktime/download/", :scale => "aspect", :src => "rotation2/rotation2-poster.jpg", :target => "myself", :type => "video/quicktime", :width => "320"}
%br/
