---
layout: default
extension: html
filter:    erb
---
		<div id="intro_p">
			</div>
		</div>	
		<div id="left">
			<strong>Related sites: </strong><br>
			
			<ul id="leftmenu">
				<li><a href="http://neurogateway.org" target="_blank">Neuroscience Information Network</a></li>
				<li><a href="http://ndg.sfn.org/" target="_blank">Neuroscience Database Gateway</a></li>
				<li><a href="http://neuroscienceblueprint.nih.gov/" target="_blank"> NIH Blueprint for Neuroscience Research</a></li>
				<li><a href="http://silkroute.cs.washington.edu/" target="_blank">SilkRoute II (relational publishing to XML)</a></li>
				<li><a href="http://www.w3.org/TR/xquery/" target="_blank">XQuery</a></li>
				<li><a href="http://www.w3.org/TR/owl-features/" target="_blank">OWL Web Ontology overview</a></li>
				<li><a href="http://www.mysql.com/" target="_blank">MySQL</a></li>
			</ul>
					
		</div>
	
		<div id="right">
			{{ content }}
			<div style="clear: both"></div>
		</div>
