---
layout:   default
filter:   haml
title:    About
menu_about: lit
---
#intro.c
#left
  = render :partial => "/fragments/about_menu"
#right
  = render :partial => "/fragments/team"
  %h2 
    %a.anchor{:name => "#pubs"}Publications
  %strong Papers
  %ol
    %li	S. Pittendrigh and G. Jacobs, "Neurosys," Neuroinformatics, vol. 1, pp. 167-176, 2003.
    %li 
      R. Lamb, R. Heimbuch, P. Llovet, S. Cleveland, I. Judson, G. Jacobs, "The Yogo Data Management Framework", 
      %em in progress.
    %li 
      R. Lamb, R. Heimbuch, P. Llovet, S. Cleveland, I. Judson, G. Jacobs, "Sapphire: A Data Management Tool for Scientists", 
      %em in progress.
    %li 
      R. Lamb, R. Heimbuch, P. Llovet, S. Cleveland, I. Judson, G. Jacobs, "Yogo-DB: Dynamic Schema Management2", 
      %em in progress.
  %strong Posters
  %ol
    %li C. Jeager, P. Llovet, L. White, R. Heimbuch, B. Livingood, A. Kontgas, I. Judson, and G. Jacobs. "Acheta domestica: Access to Neurophysiology-Biomechanics and Neuron Reeconstruction Data via Ruby on Rails Web Site," Complex Biological Systems Summer Undergraduate Research Program, Montana State University, Bozeman, 2008. 
    %li G.A. Jacobs, I.R. Judson, P. Llovet, L.K. White, R. Heimbuch, B. Livingood, and C.A. Jeager. "Managing Data with NeuroSys and the Yogo Data Management Toolkit," Neuroscience 2008, Chicago, 2008.
    %li G.A. Jacobs, P. Llovet, I. Judson, L. White, R. Heimbuch, C. Jeager and G.A Burns. "MILO: A general purpose data repository for disease foundations and individual laboratories," Neuroscience 2009, Chicago, 2009.
    %li G.A. Jacobs, P. Llovet, I. Judson, S. Cleveland, R. Lamb, R. Heimbuch,  J. Robbins. "The Yogo Data Management Framework", Neuroscience 2010, San Diego, 2010.
    
%div{:style => "clear: both"}
  
  
