---
layout: default
extension: html
filter:    haml
---
#intro_c
#left
  %table
    %tr
      %td{:width => "12"}
      %td
        %img{:border => "1", :src => "images/msu.jpg"}/
#right
  %h4 Who are we?
  %ul
    %li
      %h2
  %p The Yogo Data Management System was created at the Center for Computational Biology, Montana State University.
  %p
    If you are looking for more information, or if you have feedback or suggestions, please let us know.
    %a{:href => "mailto:neurosys-support@montana.edu"} neurosys-support@montana.edu
  %hr/
  %br/
  %strong Our Team
  %br/
  %br/
  %p
    %a> Dr. Gwen Jacobs
    , Asst. CIO and Director of Academic Computing
  %p
    %a> Ivan Judson
    , Computational Research Scientist
  %p
    %a> Ryan Heimbuch
    , Software Engineer
  %p
    %a> Chris Jaeger
    , Software Engineer
  %p
    %a> Ben Livingood
    , Software Engineer
  %p
    %a> Pol Llovet
    , Software Engineer
  %p
    %a> Libbey White
    , Software Engineer
  %p
    %a> Jade Robbins
    , Software Engineer
  %p
    %a> Robbie Lamb
    , Software Engineer
  %p
    %a> Sean Cleveland
    , Software Engineer
  %div{:style => "clear: both"}
