---
layout: default
filter: haml

menu_home: lit
---
#intro
#left
  = render :partial => "/fragments/opensource"
  = render :partial => "/fragments/download"
  %a{:href => "/about.html#pubs"} Our Publications!
  =# render :partial => "/fragments/tryout"
  %br/
  = render :partial => "/fragments/contactus"
#right
  %h2 What is Yogo?
  %br/
  %p The Yogo Data Management Framework is a set of software tools created to enhance the process of data annotation, analysis and web publication.
  %p The system provides a set of easy to use software tools for data sharing by the scientific community. It enables researchers to build their own custom designed data management systems. Another branch of the system provides tools for viewing anatomical and physiological data.
  %p
    
  %div{:style => "clear: both"}
