---
layout:   default
filter:   haml
title:    What about NeuroSys?
menu_about: lit
---
#intro.c
#left
  = render :partial => "/fragments/about_menu"
#right
  = render :partial => "fragments/neurosys"