---
layout:   default
filter:   haml
title:    Why the name Yogo?
menu_about: lit
---
#intro.c
#left
  = render :partial => "/fragments/about_menu"
#right
  %h2 
    %a.anchor{:name => "WhyYogo"}Why the name Yogo?

  Montana is known as the Treasure State (and The Last Best Place) being rich in natural resources -- Gold, Silver, Copper, Rubies, and Sapphires. There are two types of sapphires that are found only in Montana, Fancy Montana Sapphires and Yogo Sapphires originally in Yogo Creek. For more information on Yogo Sapphires checkout their 
  %a{:href => "http://www.gemgallery.com/#yogo_sapphire_history"}History