---
extension: html
filter:    erb
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="MSU CCB, adapted from Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<title>Yogo :: <% if @page.title %> <%= @page.title %> <% else %> Yogo Data Management System <% end %></title>
</head>
<body>
	<div id="content">
		<div id="logo">
			<a href="#"> <h3>
			  
				<% if @page.title %>
					<%= @page.title %>
				<% else %>
					Yogo Data Management System
				<% end %></h3></a>
		</div>
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/yogo/index.html">Yogo</a></li>
			<!-- <li><a href="/yogo/support.html">Support</a></li> -->
			<li><a href="/mien/index.html">MIEN</a></li>
			<li><a href="/history/history.html">History</a></li>
			<li><a href="/partners/partners.html">Partnerships</a></li>
			<li><a href="/contact.html">Contact</a></li>
		</ul>
		<div id="body-content">  
		<%= @content %>
		<div style="clear: both"></div>
		</div>
			
		<div id="footer">
			<div id="col1">
			</div>
			<div id="col2">
			</div>
			<div id="col3">
			</div>
		</div>	
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
			var pageTracker = _gat._getTracker("UA-9793379-1");
			pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
