---
layout: default
extension: html
filter:    erb
---
		<div id="intro_y">
			</div>
		</div>	
		<div id="left">
			
			<strong>Yogo Projects</strong>

			<ul id="leftmenu">
				<li><a href="cercaldb.html">CercalDB</a></li>
				<li><a href="fad.html">Faculty Activity Database</a></li>
				<li><a href="clover.html">Clover</a></li>
				<li><a href="crux.html">Crux</a></li>
			</ul>
					
			<strong>See Them In Action</strong>

			<p>Check out our projects by visiting the links below. If the site requires a login just use the username "demo" and the password "demo".</p>

			<ul id="leftmenu">
				<li><a href="http://apps.montana.edu/cercaldb" target="_blank">CercalDB</a></li>
				<li><a href="http://fad.msu.montana.edu" target="_blank">Faculty Activity Database</a></li>
				<li><a href="http://apps.montana.edu/cloverdemo" target="_blank">Clover</a></li>
			</ul>
		
		</div>
	
		<div id="right">
			{{ content }}
					
			<div style="clear: both"></div>
		</div>
