<strong>About MIEN</strong><br>	
<ul id="leftmenu">
	<li><a href="/MIEN/about.html">What MIEN can do </a></li>
	<li><a href="/MIEN/contact.html">MIEN Developers</a></li>
</ul>
<strong>To use MIEN: </strong><br>			
<ul id="leftmenu">
	<li><a href="http://mien.msu.montana.edu/docs/install_quick.html" target="_blank">Download and Install </a></li>
	<li><a href="/MIEN/MIEN_UserGuide.pdf">User's Guide (PDF)</a></li>
	Sample Data: 
	<li><a href="/MIEN/SampleMorphological.zip">for CellViewer </a> | <a href="SampleTimeSeries.zip"> for DataViewer</a></li>
</ul>			
<strong>For more information: </strong><br>			
<ul id="leftmenu">
	<li><a href="http://mien.msu.montana.edu/" target="_blank">MIEN project</a></li>
</ul>