---
layout:   technology
filter:   haml
title:    Technology

menu_tech: lit
---
%h2 Technology that drives yogo

%img{:src => "/images/yogo/YDMF-Diagram-simple.png"}

%p 
  The Yogo software includes both a framework and an application, Sapphire, that provide the tools scientists need to do complex data management tasks. 

%p 
  Sapphire is an application being built out of the Yogo Data Management Framework that provides basic data management capabilities. Sapphire provides a testbed for new Yogo features and capabilities.

%p 
  The Yogo Data Management Framework is our implementation of dynamic, evolvable data schemas and the associated tools to make build secure, distributed, data management applications. Yogo is entirely new code, but it is based on the lessons learned from the previous implementation of our ideas, the NeuroSys Software. The lessons learned during writing, deploying and supporting the original software were critical to the successful design of the latest version. The new software has been divided into a set of modules (shown in the figure) that provide functionality that can't be found in other data management systems.

