---
layout:   technology
filter: haml

menu_tech: lit
---

%h2 Yogo Project

%p
  Yogo Project is primarily a namespacing module. This allows multiple database scopes within an application - such as one DB per project.  The project allows for user-exposed management of the dynamic databases as well as acting as a convenient container to organized your data storage.  The settings for where the project models store their data would be associated with the project.
%p
  A developer can choose to leverage the project module to organize project information within an application by having models that can be shared across multiple projects or having models encapsulated within projects.  This gem must used in conjunction with the Yogo DB module gem.