---
layout: technology
filter: haml

menu_tech: lit
---
%h2 Yogo Data Sharing

%p
  YDMF based applications can easily publish data to external endpoints or directly through the web based user interface. Data that has been published through the web based user interface can be downloaded in CSV,  YAML, XML, and JSON.  YDMF publishing features enable application developers to implement tightly integrated data publishing to other services such as: CUAHSI HydroServers.