---
layout:   technology
filter: haml
---
%h2 Yogo Database

%p
  The yogo database module provides the most novel parts of the Yogo software, namely version-controlled, user-designed data types. These data types provide the foundation for building user-designed systems, and they are constructed through an intuitive web-based tool that will eventually be available for on-line or off-line use.
