---
layout:   technology
filter: haml

menu_tech: lit
---
%h2 Yogo API's
%p 
  The YDMF exposes all of the data, schemas, projects, and users through a RESTful API that allows developers to programmatically create projects, schemas, data, and users. Users can be added to projects with the appropriate roles programmatically, ensuring authorization is enforced. Developers (or Users) using the RESTful API’s are limited to the same set of privileges they are authorized to perform from the web based user interface and are required to perform all programmatic operations using a unique API key that associates all of the programmatic activity with their user in case of failure or misuse.
%p 
  More information on REST and RESTful API's can be found at
  %a{:href => "http://en.wikipedia.org/wiki/Representational_State_Transfer"}Wikipedia's Entry on REST
  with the original papers and ideas captured in the 
  %a{:href => "http://en.wikipedia.org/wiki/Representational_State_Transfer#References"}references.
  