---
layout:   technology
filter: haml
---
%h2 Yogo Annotation
%p
  The data annotation module provides the ability for end users to annotate their data models and collected data. The annotations can either be free-form or selected from a given set of ontological choices specified by the principal investigator. The novel aspect of data annotation in this data annotation module is a tool to allow users to evolve free-form annotations or tags into a structured vocabulary. This tool uses statistical analysis of the tags to create suggested structures that the end user can customize and save as vocabularies.
