---
layout:   technology
filter: haml

menu_tech: lit
---
%h2 Yogo Annotation
%p
  The Yogo Framework supports the ability for users to tag their data with arbitrary tags and comments, and can require a comment be entered whenever data is changed.  This allows users to make notes about why and how they changed the data, and each comment and tag is saved with the user id of the user and a timestamp. This provides very fine-grained provenance information.