---
layout:   technology
filter: haml

menu_tech: lit
---

%h2 Yogo Project

%img.left{:src => "/images/yogo/YDMF-project.png"}

%p
  A Project is a generic container for local and global data models and the associated data.  A Project can also be thought of as an experiment, study, or collection as defined by a Yogo Application. Projects are attached to their own database instance, thus the generation of a new Project generates a new database.  

%p
  Within a Yogo Application each Project has access to its own Models and data as well as globally defined Models and data.  When using a Global Model a Project can store local data using that Model.

%p
  The example shown below uses a Global Model, which could be used to store a Controlled Vocabulary.  This would make vocabulary terms available to all Projects as well as allowing individual Projects to maintain their own vocabulary terms.

%img.left{:src => "/images/yogo/YDMF-project-types.png"}
  