---
layout:   technology
filter: haml

menu_tech: lit
---
%h2 Miscellaneous System Modules
%p 
  Included in the Yogo software are a set of modules that are not directly related to the functionality described in the other modules. These additional modules include user management, role-based access controls, authentication integration, automatic data collection interfaces (for interfacing to devices that produce data automatically), and storage management modules. These modules are necessary to build the platform that Yogo leverages to deliver its unique functionality, and it is in the best interest of our project to offer these modules to the broader community so they don't have to be built again.