---
layout:   technology
filter: haml
---
%h2 Yogo Publishing

%p
  The data publishing module provides the ability for users who have created projects with data collections to select parts of the data collection to be published online. The module provides some "semi-automated" publishing capabilities that include standard templates. However, the user can override the provided templates to provide a project specific look and feel, and the user can customize the semi-automated process, taking full control of all the options used to publish data.
