---
layout: manual
filter: haml
---
%h2 Checkbox widget
#history-page
  %p
    The checkbox widget provides a simple way to record answers to yes/no questions
    in your data.

  %h3 Example:
  %img{:src => "/images/history/widgets/checkbox_ex.jpg"}/

  %p In the Create Form tab, click on the checkbox widget icon in the toolbar.
  %img{:src => "/images/history/widgets/checkbox.jpg"}/

  %p The checkbox widget appears with a default name.
  %img{:src => "/images/history/widgets/cb1.jpg"}/

  %p Double click the name to change it to whatever you would like.
  %img{:src => "/images/history/widgets/cb2.jpg"}/

  %p That's it! The checkbox is ready to record data in Enter Data mode.
  %img{:src => "/images/history/widgets/cb3.jpg"}/

#page-links
  .previous
    %a{:href => "banner.html"} Previous page
  .next
    %a{:href => "list.html"} Next page
  .top
    %a{:href => "checkbox.html"} Return to top of page