---
layout: manual
filter: haml
---
%h2 Image widget
#history-page
  %p
    The image widget lets you upload an image to your data form, and it stores the location
    of the image file. The image widget will automatically display a thumbnail version of your
    image. In Browse mode, the thumbnail and file location will be clickable links, so you
    can click on the thumbnail to view the larger version.

  %h3 Example:
  %img{:src => "/images/history/widgets/image_ex.jpg"}/
  
  %p In the Create Form tab, click on the image widget icon in the toolbar.
  %img{:src => "/images/history/widgets/image.jpg"}/
  
  %p The image widget appears with a default label.
  %img{:src => "/images/history/widgets/img1.jpg"}/
  
  %p Double click on the default name to enter the name you wish to use.
  %img{:src => "/images/history/widgets/img2.jpg"}/
  
  %p 
    The image widget is now ready to be used in Enter Data mode. By clicking the "Browse
    Server" button, you will be able to locate the image file you wish to upload.  If you
    later edit or replace the original image file, clicking the "Update Thumbnail" button
    will retrieve the new version.
  %img{:src => "/images/history/widgets/img3.jpg"}/

#page-links
  .previous
    %a{:href => "space.html"} Previous page
  .next
    %a{:href => "tree.html"} Next page
  .top
    %a{:href => "image.html"} Return to top of page