---
layout: manual
filter: haml
---
%h2 Tree widget
#history-page
  %p
    The tree widget is a container widget that can hold other widgets, including more trees.
    This allows you to build the hierarchy of descriptive elements that best suits your data.
    Tree widgets can--for temporary visual convenience--be collapsed,
    so only the name of tree appears on screen. It is important to realize, however, that even
    when a tree is visually collapsed, all values for all widgets contained within the tree
    are still saved whenever the user completes a description and clicks the "Save" button.
    The checkbox labeled "clear" allows the user to remove all values entered into the
    widgets contained within the tree. The widgets themselves will remain, but any data they
    contained will be erased.
  
  %h3 Example:
  %img{:src => "/images/history/widgets/tree_ex.jpg"}/

  %p In the Create Form tab, click the tree widget icon in the toolbar.
  %img{:src => "/images/history/widgets/tree.jpg"}/

  %p A new tree widget container appears as an empty box, with a default label.
  %img{:src => "/images/history/widgets/tr1.jpg"}/

  %p Double click on the default label to enter an appropriate label.
  %img{:src => "/images/history/widgets/tr2.jpg"}/

  %p The tree now has a label, but nothing contained within it.
  %img{:src => "/images/history/widgets/tr3.jpg"}/

  %p
    To nest widgets within the tree, use
    the toolbar to add whichever widgets you need. The widgets will appear below the tree widget.
    Double click on their default labels to change their names, and then drag them inside the
    box outline around the tree widget.
  %p
    In the example below, we have added a pull-down widget, a URL widget, and an image widget,
    and dragged all three into the tree called "Auditory cues."
  %img{:src => "/images/history/widgets/tr4.jpg"}/
  
  %p
    For visual convenience, you can temporarily collapse the tree by
    clicking the "hide" box just to the right of tree label name.
    Again, collapsing a tree does not mean any of the contained widgets are
    deleted.
  %img{:src => "/images/history/widgets/tr5.jpg"}/

#page-links
  .previous
    %a{:href => "image.html"} Previous page
  .next
    %a{:href => "array.html"} Next page
  .top
    %a{:href => "tree.html"} Return to top of page