---
layout: applications
filter: haml
title:  Crux Experiment Management

menu_apps: lit
---
%h2 Crux

%h3 Collaborators
%ul
  %li The Michael J. Fox Foundation
  %li Dr. Gully Burns, Information Sciences Institute
  %li Dr. Alan Ruttenberg, Science Commons

%h3 Details
%p 
  %a{:href => "/images/yogo/crux-kefed-diagram.png", :target => "_blank"}>
    %img.left{:src => "/images/yogo/crux-kefed-diagram_thumb.png"}/
  Crux is a collaboration with Dr. Gully Burns at the University of Southern California Information Sciences Institute, and Alan Ruttenburg at Science Commons. The prototype application is a proof of concept for the Michael J. Fox Foundation and the Kinetics Foundation to improve the processes of managing data resulting from grant-based research. The research foundations lacked methods to standardize experimental procedures (or the terms to describe them); without this, they could not link data across studies, making it impossible to integrate study data with other relevant knowledge that was similarly curated. In short, the Crux application targets the problem of experimental data being poorly described throughout the research process. The application would address this problem with two main solutions: 
%ol
  %li Describe the experimental protocol using a graphical design editor that produces diagrams that conform to Dr. Burns’ Knowledge Engineering for Experimental Design (KE-f-ED)[citation: KEFED Paper] model.  The experimental design can be modified and greater detail (including ontological terms) can be added to it.

  %li Build the data repository structure from the experimental design. As the experimental design changes or evolves, the data repository will follow.  As the experimental design is curated with terms and additional detail, the data becomes richer as a result.
%p
  The KE-f-ED experimental design acts as the focal point of the data management within the Crux prototype.  The design is the complete description of the experimental protocol, which is important in and of itself, but in addition to that the design is used to build the data model and curate the experiment with ontological terms and controlled vocabularies.  Using the flexibility of the YDMF flexible data storage, experimental designs of varying complexity could be used to describe, curate, store and query experimental data.