---
layout: applications
filter: haml
title:  Applications
---
= render :partial => "applications/cercaldb"
= render :partial => "applications/crux"
= render :partial => "applications/clover"
= render :partial => "applications/fad"