---
layout: applications
filter: haml
title:  Yogo Framework Applications

menu_apps: lit
---
%h2 Yogo Framework Applications

%p
  The Yogo Framework was designed through the creation of applications.  In this way, the features of the framework were directly driven by the real-world data management needs.  Over the course of application development, Yogo's core framework has evolved and become more sophisticated.  
  
/ Check the capitalization of Parkinson's
%p
  The set of applications built with the Yogo Data Management Framework provide robust, flexible, data management solutions for scientists in different domains. Researchers investigating the cricket cercal system, ecological and hydrological monitoring, fluorescent probe development, and Parkinson's Disease are currently using Yogo-based applications to manage the growing amounts of data resulting from their work. The Yogo Framework is a platform, realized through a set of software components that can be used to build the infrastructure needed for scientists to do complex data management tasks with the minimum of effort. 
  
%p
  These applications were all built as a collaborative effort with other researchers or data professionals.  
