---
layout: applications
filter: haml
title:  Yogo Framework Applications

menu_apps: lit
---
%h2 Yogo Framework Applications
%p
  The Yogo Framework has been used to build many applications in many different scientific disciplines.  The Yogo Framework features and functionality were directly shaped from the creation of prototype applications (which then became production applications).  

%p
  From neuron reconstruction databases to applications to manage academic faculty annual review data.  Over the course of the creation of the applications, the core framework of Yogo has evolved and become more sophisticated.  The initial apps, such as the Cricket Cercal System Database, were fairly simple, where the later applications became much more complex and sophisticated.


