---
layout: applications
filter: haml
title:  Neuron Registry
menu_apps: lit
---

%h2 Neuron Registry

%h3 Collaborators
%ul
  %li Dr. Giorgio Ascoli, George Mason University
  %li International Neuroinformatics Coordinating Facility
%h3 Details
%p
  %a{:href => "/images/yogo/neuron_registry.png", :class => "thickbox"}>
    %img.left{:src => "/images/yogo/neuron_registry_thumb.png"}/
  The Yogo Neuron Registry prototype was submitted to the 
  %a{:href => "http://www.incf.org/core/programs/pons/projects/nrtf"}Neuron Registry project 
  as a possible tool that could be used to curate and manage the Neuron Registry.

%p
  %a{:href => "http://dev.msu.montana.edu/neuronregistry"}Try the Demo.
%h3 Neuronal Registry Task Force (NRTF)
%p
  In broad terms, the goal of this task force is to create a registry which one can browse and search for neuron types based on their properties; ultimately, the registry will accept review submissions of new neuron types. Each neuron will be defined based on its properties, and will be assigned a unique identifier, a preferred name, as well as a set of synonyms. An initial list of neuron properties is provided by the Petilla terminology ( (P.I.N.G., Nature Rev Neurosci., 2008), upon which this INCF effort is building. In collaboration with the Representation and Deployment Task Force, this Task Force is designing the curator interface and underlying structure of the registry database.