---
layout: applications
filter: haml
title:  Neuron Registry
menu_apps: lit
---

%h2 Neuron Registry
%p
  %a{:href => "/images/yogo/neuron_regsitry.png", :target => "_blank"}>
    %img.left{:src => "/images/yogo/neuron_regsitry.png"}/
  The Neuron Registry is a 

%a{:href => "http://dev.msu.montana.edu/neuronregistry"}Try the Demo.