---
layout: applications
filter: haml
title:  Neuron Registry
menu_apps: lit
---

%h2 Neuron Registry
%a{:href => "/images/yogo/neuron_registry.png", :target => "_blank"}
  %img.left{:src => "/images/yogo/neuron_registry_thumb.png"}
%p 
  The Yogo Neuron Registry prototype was submitted to the 
  %a{:href => "http://www.incf.org/core/programs/pons/projects/nrtf"}Neuron Registry project 
  as a possible tool that could be used to curate and manage the Neuron Registry.

%a{:href => "http://dev.msu.montana.edu/neuronregistry"}Try the Demo.