---
layout: applications
filter: haml
title:  Yogo Sapphire

menu_apps: lit
---

%h2 Yogo Sapphire

%p Sapphire is an end-user application built with Yogo that allows simple data management.  It is intended to be a showcase for the features of the Yogo Framework.

%h3 Collaborators

%ul
  %li Dr. John Miller, Center for Computational Biology, Montana State University
  %li Sean Cleveland, Center for Computational Biology, Montana State University
