---
layout: default
title: Yogo Data Management System
filter:    haml
---

#left
  %h2 Support for Yogo
  %p
    If you are looking for more information, or if you have feedback or suggestions, please let us know.
    %a{:href => "mailto:yogo-support@montana.edu"} yogo-support@montana.edu
  %p
    Issue with Yogo can be posted on MSU's Forge system.
    %a{:href => "https://forge.montana.edu/projects/yogo"} Yogo on Forge
