---
filter: haml
title:  Giorgio Ascoli
---
%p
  %a.anchor{:name => "Ascoli"} 
    %strong Giorgio Ascoli
    is leading an effort, in conjunction with the Neuroscience Information Framework (NIF), to build a community database of reconstructed neurons. This database contains digital reconstructions of neurons, related literature and a suite of software tools for acquiring, analyzing, visualizing and modeling the data. The database,
    %a{:href => "http://neuromorpho.org/neuroMorpho/index.jsp", :target => "_blank"} Neuromorpho.org
    has been implemented in a relational database using MySQL. Dr. Ascoli is interested in testing NeuroSys as a middleware application to annotate the reconstructions and subsequently load them and the associated metadata into their relational database. In addition, Dr. Ascoli and his colleagues will serve as beta testers of the
    %a{:href => "/mien/index.html"} MIEN software suite
