---
filter: haml
title:  Jim Brinkley
---
%p
  %a.anchor{:name => "Brinkley"} 
    %strong Jim Brinkley
    is Director of the
    %a{:href => "http://sig.biostr.washington.edu/", :target => "_blank"} Structural Informatics Group
    (SIG) at the University of Washington. Their Xbrain project is designed to allow researchers to query distributed databases and ontologies, where each database or ontology is "wrapped" as a web service that returns an XML document in response to a query. For native XML documents, the query language is XQuery. Although XBrain does allow XQueries to be saved for later reuse, it currently has no GUI-based system for creating the queries. One aspect of our collaboration will therefore be to investigate how we can incorporate the NeuroSys graphical query generator into the XBrain front-end, thereby allowing XBrain queries to be generated without requiring the user to understand the XQuery language.