---
filter: haml
title:  Gully Burns
---
%p
  %a.anchor{:name => "Burns"} 
    %strong Gully Burns
    and his colleagues at USC developed
    %a{:href => "http://www.neuroscholar.org", :target => "_blank"} NeuroScholar
  which provides a unique environment for creating a "knowledge representation" by superimposing structured ontologies over information fragments gleaned from the scientific literature. Recently this group has added an electronic laboratory notebook function to NeuroScholar. This application imports images, data files and scanned pages from a traditional lab notebook and provides the functionality to divide this information into concepts that can be part of a knowledge representation, along with information from the literature, thereby building a more comprehensive representation. NeuroSys could be used to preprocess the information prior to entering it into NeuroScholar. The query capabilities of NeuroSys would allow the investigator quick access to experimental metadata and images, streamlining the process of selecting fragments for inclusion in a knowledge representation.