---
filter: haml
title:  Christina Fastnow
---
%p
  %a.anchor{:name => "Fastnow"}
    %strong> Chris Fastnow
    , Assistant Director of Montana State University's
    %a{:href => "http://www.montana.edu/opa/", :target => "_blank"} Office of Planning and Analysis
    has been working with our team to create an implementation of NeuroSys that will support a campus-wide survey of faculty activity. The faculty activity database provides a central repository of information that will be used in the annual review process, the development of annual reports and other publications, and for accountability, accreditation, and assessment efforts. You can explore a demo version of this software by logging in with username "demo" and password "demo" --
    %a{:href => "https://fad.msu.montana.edu/", :target => "_blank"} try it here