---
filter: haml
title:  Bridget Garnsey
---
%p
  %a.anchor{:name => "Garnsey"} 
    %strong> Bridget Garnsey
    , CEO of
    %a{:href => "http://www.techranch.org/companies/bridger-informatics.php", :target => "_blank"} Bridger Informatics
    is engaged with us in a collaborative effort, funded through a grant from the Montana Research and Commercialization Board, to explore the possibility of developing a commercial version of NeuroSys for use as a database system for small start-up companies.