---
filter: haml
title:  Thom Hughes
---
%p
  %a.anchor{:name => "Hughes"} 
    %strong Thom Hughes
    and his collaborators have embarked on a team-based approach to improve fluorescent protein-based voltage sensors for fast, high resolution recording from many individual mammalian neurons. This project will create large libraries of membrane protein/fluorescent protein fusion constructs. This project therefore requires coordination of a distributed collaboration, tracking of thousands of clones and the experimental data associated with them and the establishment of a database that can house the metadata in a central repository with links to datasets stored across independent laboratories. In addition, this project is designed as an NIH contract (U24), so NIH personnel require a way to monitor the progress, milestones and outcomes of this project. We have created a version of NeuroSys that meets these requirements and functions as a distributed electronic lab notebook, which investigators at each site use to annotate data generated from their experiments. Dr. Hughes and his collaborators are currently beta-testing this system. You can
  %a{:href => "http://apps.montana.edu/cloverdemo/", :target => "_blank"} check it out here
  log in with username "demo" and password "demo".