---
filter: haml
---
%ul
  %li.person
    %span.name
      %a{:href => "#Burns"}Gully Burns
    %br
    %span.affiliation University of Southern California
    %br
    Application:
    %span.application Crux
  %li.person
    %span.name
      %a{:href => "#Fastnow"}Christina Fastnow
    %br
    %span.affiliation Montana State University
    %br
    Application:
    %span.application 
      %a{:href => "http://fad.msu.montana.edu/", :target => "_blank"} Faculty Activity Database
  %li.person
    %span.name   
      %a{:href => "#Hughes"}Thom Hughes
    %br
    %span.affiliation Montana State University
    %br
    Application:
    %span.application 
      %a{:href => "http://apps.montana.edu/cloverdemo", :target => "_blank"} Voltage Probe Database System
  %li.person
    %span.name
      %a{:href => "#Ascoli"} Giorgio Ascoli
    %br
    %span.affiliation George Mason University
    %br
    Application:
    %span.application Neuron Registry
  %li.person
    %span.name
      %a{:href => "#Brinkley"}Jim Brinkley
    %br
    %span.affiliation University of Washington
    %br
    Application:
    %span.application Not Available Yet
  %li.person
    %span.name
      %a{:href => "#Martone"}Maryann Martone
    %br
    %span.affiliation University of California at San Diego
    %br
    Application:
    %span.application Not Available Yet
  %li.person
    %span.name    
      %a{:href => "#Garnsey"}Bridget Garnsey
    %br
    %span.affiliation Bridger Informatics
    %br
    Application:
    %span.application Decommissioned