---
filter: haml
title:  Maryann Martone
---
%p
  %a.anchor{:name => "Martone"} 
    %strong Maryann Martone
    has been leading several large informatics efforts aimed at promoting distributed collaboration and data sharing within the Neuroscience community. She leads the
    %a{:href => "http://ccdb.ucsd.edu/CCDBWebSite/index.html", :target => "_blank"} Cell Centered Database Project
    (CCDB), which makes 3D microscopic imaging data available to the neuroscience and structural biology and communities. She is also the Scientific Coordinator for the
    %a{:href => "http://nbirn.net", :target => "_blank"} Mouse BIRN project
  which uses multi-modal and multi-scale imaging data from mouse models of neurological disorders to better understand diseases of the brain. Each data file in the CCDB or any of the distributed BIRN sites must be annotated with metadata that conforms to both the ontology and the controlled vocabularies in use. Dr. Martone has been a leader in the creation of ontologies and controlled vocabularies for describing these data collections. She will act as the primary beta tester of the NeuroSys vocabulary suggestion engine, and we will work closely with her group to develop strategies for loading data annotated with NeuroSys into their Oracle database. Dr. Martone will also use NeuroSys as an in-lab electronic laboratory notebook for day-to-day management of data and experimental results.
  