---
filter: haml
title:  Cali Morrison
---

%p
  %a.anchor{:name => "Morrison"} 
    %strong> Cali Morrison
    , Manager, Major Grants,
    %a{:href => "http://http://wiche.edu/", :target => "_blank"} Western Interstate Commission for Higher Education
    and 
    %a{:href => "http://luminiafoundation.org"}The Lumina Foundation
    supported the development of the
    %a{:href => "http://www.collegechoicesforadults.org/"}College Choices for Adults web presence.
    