---
filter: haml
title: Alan Ruttenberg
---
%p
  %a.anchor{:name => "Ruttenberg"} 
    %strong> Alan Ruttenberg
    , Principal Scientist NeuroCommons Project,
    %a{:href => "http://http://sciencecommons.org/", :target => "_blank"} Science Commons,
    prior to joining Science Commons, Dr. Ruttenberg worked at Millennium Pharmaceuticals <http://www.mlnm.com/> as a senior scientist in the computational biology group for about 9 years. For the latter several years his group’s focus was on building a pathway database and tools, including PARIS, that use it to analyze experimental data, particularly transcriptional profiling data. Our pathway database combined a mixture of licensed databases, such as Ingenuity Pathway Knowledge Base <http://www.ingenuity.com/products/pathways_knowledge.html> and HPRD <http://www.hprd.org/>, public databases such as KEGG’s LIGAND <http://www.genome.jp/ligand/>, as well some information our group has curated from the literature. A powerpoint touching on the sorts of things we worked on is available here <http://www.massbio.org/attachments/Pathways_Seminar-Ruttenberg_MBC_Oct_05.pdf>.