---
layout: manual
filter: haml
---

%h2
%p
  The initial implementation of the software, simply called
  %a{:href => "/history/index.html"}>
    %strong NeuroSys
  allowed users to create XML databases. Centered on a Java-based client application, it provided a way to design and construct custom GUI screens for data entry, data query and retrieval.
%p It also automatically created a controlled vocabulary and supported the extension and/or migration of that vocabulary to whatever standard might be chosen at a later date. Most importantly, it empowered end-users to carry out all of these operations without the expertise and expense of trained database programmers.
%p
  Right now a transition is underway, converting NeuroSys into a web-based application called
  %a{:href => "/yogo/index.html"}>
    %strong Yogo
  Yogo will retain all of functionality of NeuroSys, while adding new features. The new features will include automated data import from laboratory devices (such as microscopes and amplifiers), and a limited scope HTML editor to make data collections available on the web.
%p
  Another component of the system is
  %a{:href => "/mien/index.html"}>
    %strong MIEN
  a suite of data visualization and analysis tools.  MIEN is intended for viewing anatomical and physiological data, and for annotating neuronal models.
  
%a{:href => "/history/tour.html", :target => "_blank"}Take a tour of the old NeuroSys!