---
layout: manual
filter: haml
---
%h2 Starting out from Scratch
#history-page
  %p
    To create a completely new form for recording data, click on the
    %strong Create Form
    tab. You may find it easiest to design
    a form on paper ahead of time, and then translate that form into a digital version using NeuroSys.
  %p
    For this example, we will re-create the form used in our "Birds of North America" sample database.
  %img{:alt => "Create Form mode", :src => "/images/history/Create_Form_blank.jpg", :title => "Create Form mode"}/
  
  
  %h3 Step One: Adding Widgets
  %p
    To give the form a title, click on the
    %strong Banner
    icon
    (circled in red) to add a banner widget. Double-click on the widget after it has been added to
    the form in order to change the title.
  %img{:alt => "Create Form banner", :src => "/images/history/Create_Form_banner2.jpg", :title => "Create Form banner"}/
  %blockquote 
    %span.note Note:
    Refer to the widget definitions
    under the "Creating Data Forms" section of the user manual for more
    specific explanations of all the individual widget types.
  %p
    If you wish to remove a widget you have added to the form,
    %span.keyword right-clicking
    on it will give you the option to delete it.
  %p
    In the next screen, you will see that we have also added a date widget, and are now ready to add
    a tree widget for contributor information.
  %img{:alt => "Create Form before tree", :src => "/images/history/Create_Form_tree.jpg", :title => "Create Form before tree"}/
  %p
    When the tree widget first appears, it looks like an empty box. We need to drag other widgets
    inside it to create a hierarchy.
  %img{:alt => "Create Form after tree", :src => "/images/history/Create_Form_tree2.jpg", :title => "Create Form after tree"}/
  %p Here we have added two text fields and dragged them inside the "Contributor" tree.
  %img{:alt => "Create Form full tree", :src => "/images/history/Create_Form_contrib2.jpg", :title => "Create Form full tree"}/
  %p
    Repeating the process of adding widgets and dragging them into the desired hierarchies leaves us
    with our final form:
  %img{:alt => "Create Form complete", :src => "/images/history/Create_Form_complete.jpg", :title => "Create Form complete"}/
  
  
  %h3 Step Two: Saving the Form
  %p
    Saving the form we have just created allows us to use it to record data. By saving it here,
    we are turning it into a
    = succeed "." do
      %span.keyword Template
  %p Select "Save As" from the File menu, as shown below:
  %img{:alt => "Create Form save", :src => "/images/history/Create_Form_save.jpg", :title => "Create Form save"}/
  %p Give your new template a name and a description:
  %img{:alt => "Create Form name template", :src => "/images/history/Create_Form_save2.jpg", :title => "Create Form name template"}/
  
  %h3 Step Three: Entering Data
  %p
    Under the
    %strong Enter Data
    tab, go to the File menu
    and select "New" to open the new template we just made.
  %img{:alt => "Enter Data file menu", :src => "/images/history/Enter_Data_filemenu.jpg", :title => "Enter Data file menu"}/
  %p
    Locate the template in the dialog box and select it. Note that the description appears in the box
    below the main window to help identify your templates.  Click "Ok" to open it.
  %img{:alt => "Enter Data new template", :src => "/images/history/Enter_Data_newtemplate.jpg", :title => "Enter Data new template"}/
  %p
    You can now enter data! Be sure to
    Save
    after doing so, and
    give the form a unique name in the
    %span.keyword Description
    field of the Save dialog box.  What you enter in that
    field is what will show up as the form name in Browse mode.
    You will then be able to open the data-filled form in Browse mode.
  %img{:alt => "Enter Data", :src => "/images/history/Enter_Data_1.jpg", :title => "Enter Data"}/

#page-links
  .previous
    %a{:href => "tabs.html"} Previous page
  .next
    %a{:href => "modify.html"} Next page
  .top
    %a{:href => "start.html"} Return to top of page
