---
layout: mien
title: About MIEN
filter:    haml
---

%h2 MIEN: Model Interaction Environment for Neuroscience
%br/
%p MIEN is a programming project designed to allow researchers to integrate physiological, morphological, and mathematical descriptions of biological systems into unified models. MIEN also incorporates tools for evaluation of models and data visualization.
%p MIEN is designed for easy extension using user written blocks, and there are several projects underway to provide useful MIEN block sets.
%p The MIEN project is still "alpha" code, but has been under development for several years and is used by the Center for Computational Biology for a variety of everyday research tasks.
%p MIEN can operate as a replacement for anatomical viewers such as CVapp, and can provide fast interactive data visualization for researchers analyzing volumes of numerical data in Python.
%p In addition, MIEN can convert files between a wide variety of data formats.
%p MIEN includes tools for optimization, parameter fitting, and distributed network evaluation.
The most common uses for MIEN at the moment are the following:
#special
  %ul
    %li As a viewer/editor for anatomical neural data
    %li As a viewer for time series data
    %li As a component of an interactive system for developing spike sorting protocols for neural data
    %li To provide an interface, editor, and file format support for use in integrating physiology and anatomy data into complete realistic compartmental models (these are subsequently simulated using Neuron)
    %li To implement hybrid neural models, in which abstract math models provide inputs for detailed compartmental models
    %li To develop tool chains for the sequential processing of numerical data with mathematical models, and to execute these models on networks or computing clusters
    %li To provide views of the information stored in a database


