---
filter: haml
---
%table
  %tr
    %td{:width => "12"}
    %td
      %img{:border => "1", :src => "/images/msu.jpg"}/
%br
%p 
  The Yogo Data Management System was created at the 
  %a{:href => "http://cns.montana.edu", :target => "_blank"}Center for Computational Biology,
  %a{:href => "http://www.montana.edu", :target => "_blank"} Montana State University.
#special
  %p Support for the development of the Yogo Software was provided by:
  %ul
    %li
      %a{:href => "http://www.nimh.nih.gov/index.shtml"}NIMH MH0441-07 
    %li
      %a{:href => "michaeljfox.org"}The Michael J. Fox Foundation
    %li
      %a{:href => "luminafoundation.org"}The Lumina Foundation
    %li
      %a{:href => 'http://www.nsf.gov/od/oia/programs/epscor/about.jsp'}The NSF EPSCoR Program

%h4
  %a{:href => "/why_yogo.html"}Why the name Yogo?
%h4
  %a{:href => "/neurosys.html"}What about NeuroSys?
  
= render :partial => "/fragments/contactus"