---
filter: haml
---
%h2 Yogo Framework Gem
%p
  The Yogo Data Management Framework components are packaged as 
  %a{:href => "http://www.ruby-lang.org", :target => "_blank"}Ruby 
  %a{:href => "http://www.rubygems.org", :target => "_blank"}Gems.
  The organization of the gems is designed to make it as easy to use for application developers as possible.

%h2 Gem Contents:
%ul
  %li
    %a{:href => "/technology/yogo-db.html"}Yogo Database
  %li
    %a{:href => "/technology/yogo-project.html"}Yogo Project
  %li
    %a{:href => "/technology/yogo-auth.html"}Yogo Authorization
  %li
    %a{:href => "/technology/yogo-annotation.html"}Yogo Annotation
  %li
    %a{:href => "/technology/yogo-publishing.html"}Yogo Publishing
  %li
    %a{:href => "/technology/yogo-misc.html"}Yogo Miscellaneous