---
filter: haml
---
%h2 What About NeuroSys?
%p 
  The Yogo Framework is the result of research that began with the development of the NeuroSys data management software.  The original NeuroSys software is no longer under active development, but if you want more information about it, please refer to the 
  %a{:href => '/neurosys/'} information page about NeuroSys.