---
filter: haml
---
%a.multi-line-button{:href => "http://github.com/yogo", :target => "_blank", :style => 'width: 18em'}
  %span.title Get the Source!
  %span.subtitle Hosted at Github.com

%p{:style => 'text-align: center'}
  All tools created as part of the Yogo Data Management Framework are open source and released under the
  %a{:href => "http://www.opensource.org/licenses/mit-license.php", :target => "_blank", :title => "The MIT License:Licensing | Open Source Initiative"} MIT license.
