---
filter: haml
---
%strong Related Sites:
%br/
%ul#leftmenu
  %li
    %a{:href => "http://neurogateway.org", :target => "_blank"} Neuroscience Information Network
  %li
    %a{:href => "http://ndg.sfn.org/", :target => "_blank"} Neuroscience Database Gateway
  %li
    %a{:href => "http://neuroscienceblueprint.nih.gov/", :target => "_blank"} NIH Blueprint for Neuroscience Research
  %li
    %a{:href => "http://silkroute.cs.washington.edu/", :target => "_blank"} SilkRoute II (relational publishing to XML)
  %li
    %a{:href => "http://www.w3.org/TR/owl-features/", :target => "_blank"} OWL Web Ontology overview