---
filter: haml
---
%h3 Related Sites
%ul
  %li
    %a{:href => "http://neurogateway.org", :target => "_blank"} Neuroscience Information Network
  %li
    %a{:href => "http://ccdb.ucsd.edu/index.shtm"}Cell Centered Database
  %li
    %a{:href => "http://neuromorpho.org"}Neuromorpho
  %li
    %a{:href => 'http://synapses.clm.utexas.edu/'} SynapseWeb
  %li
    %a{:href => 'https://senselab.med.yale.edu/'} SenseLab
  %li
    %a{:href => 'http://www.nitrc.org/'} NITRC
  %li
    %a{:href => 'http://www.incf.org/'} INCF
  %li
    %a{:href => 'http://www.birncommunity.org/'} BIRN