---
filter: haml
---
%strong Related Technologies:
%br/
%ul#leftmenu
  %li
    %a{:href => "http://www.rubyonrails.org/", :target => "_blank"} Ruby on Rails
  %li
    %a{:href => "http://datamapper.org/", :target => "_blank"} DataMapper
  %li
    %a{:href => "http://en.wikipedia.org/wiki/Representational_State_Transfer", :target => "_blank"} REST 
  %li
    %a{:href => "http://www.json.org/", :target => "_blank"} JSON
\  %li
    %a{:href => "http://www.w3.org/TR/xquery/", :target => "_blank"} XQuery
  %li
    %a{:href => "http://www.mysql.com/", :target => "_blank"} MySQL