---
filter: haml
---
%h2 Our Current Team

%ul
  %li.person 
    %span.name>Dr. Gwen A. Jacobs,
    %br/
    %span.title Professor of Neuroscience, Asst. CIO and Director of Research Computing 
  %li.person
    %span.name>Ivan Judson
    %span.title, Research Scientist
  %li.person 
    %span.name>Ryan Heimbuch
    %span.title, Software Engineer
  %li.person
    %span.name>Pol Llovet
    %span.title, Software Engineer
  %li.person 
    %span.name>Jade Robbins
    %span.title, Software Engineer
  %li.person 
    %span.name> Robbie Lamb
    %span.title, Software Engineer
  %li.person 
    %span.name> Sean Cleveland
    %span.title, Software Engineer
    
%br
%strong Past Members
%ul
  %li.person 
    %span.name>Chris Jaeger
    %span.title, Software Engineer
  %li.person 
    %span.name>Ben Livingood
    %span.title, Software Engineer
  %li.person 
    %span.name>Libbey White
    %span.title, Software Engineer
  %li.person 
    %span.name>Gary Orser
    %span.title, Software Engineer
  %li.person 
    %span.name>Sandy Pittendrigh
    %span.title, Software Engineer
  %li.person 
    %span.name>Todd Byrne
    %span.title, Software Engineer
  %li.person 
    %span.name>Angelo Kontgas
    %span.title, Summer Student
  %br
