---
filter: haml
---
%h3 Yogo Application Demos
%p
  Try out applications built using Yogo.
%ul
  %li
    %a{:href => "http://apps.montana.edu/cercaldb", :target => "_blank"} CercalDB
    %br/
    login not required.
  %li
    %a{:href => "http://fad.msu.montana.edu/", :target => "_blank"} Faculty Activity Database
    %br/
    username: demo password: demo
  %li
    %a{:href => "http://apps.montana.edu/cloverdemo", :target => "_blank"} Voltage Probe Database System
    %br/
    username: demo password: demo
