---
layout: default
filter: haml
title:  Developers

menu_devs: lit
---
#intro.h
#left


  %h3 Applications Using Yogo APIs
  %ul
    %li 
      %a{:href => "/applications/mien/index.html"} MIEN
  
  %h3 History
  %ul
    %li 
      %a{:href => "/neurosys/index.html"} What is Neurosys?


  = render :partial => "/fragments/support"
  = render :partial => "/fragments/contactus"
#right
  %h2 Developer Info
  
  %h3 Getting Started with Yogo
  %h4 Using Rails
  %ol
    %li Get the gems
    %li Make an app
    %li ...
    %li Profit!
