---
layout: default
title:  Yogo Data Management System
filter: haml
---
#Yard
  %h2 Yogo documentation in Yard
  %p
  #documentation
    %pre
      %code.ruby
        %span.lineo 1
        %span.c1         %span.lineo 2
        %span.c1         %span.lineo 3
        %span.c1         %span.lineo 4
        %span.c1         %span.lineo 5
        %span.c1         %span.lineo 6
        %span.c1         %span.lineo 7
        %span.c1         %span.lineo 8
        %span.c1         %span.lineo 9
        %span.c1         %span.lineo 10
        %span.c1         %span.lineo 11
        %span.c1         %span.lineo 12
        %span.c1         %span.lineo 13
        %span.c1         %span.lineo 14
        %span.c1         %span.lineo 15
        %span.c1         %span.lineo 16
        %span.c1         %span.lineo 17
        %span.c1         %span.lineo 18
        %span.c1         %span.lineo 19
        %span.c1         %span.lineo 20
