---
layout: default
title: Yogo Data Management System
---
<div id= "Yard">
  <h2>Yogo documentation in Yard</h2>
  <p></p>
  <div id= "documentation">
    <pre>
      <code class="ruby">
        <span class="lineo"> 1</span>
        <span class="c1"> </span>
        <span class="lineo"> 2</span>
        <span class="c1"> </span>
        <span class="lineo"> 3</span>
        <span class="c1"> </span>
        <span class="lineo"> 4</span>
        <span class="c1"> </span>
        <span class="lineo"> 5</span>
        <span class="c1"> </span>
        <span class="lineo"> 6</span>
        <span class="c1"> </span>
        <span class="lineo"> 7</span>
        <span class="c1"> </span>
        <span class="lineo"> 8</span>
        <span class="c1"> </span>
        <span class="lineo"> 9</span>
        <span class="c1"> </span>
        <span class="lineo"> 10</span>
        <span class="c1"> </span>
        <span class="lineo"> 11</span>
        <span class="c1"> </span>
        <span class="lineo"> 12</span>
        <span class="c1"> </span>
        <span class="lineo"> 13</span>
        <span class="c1"> </span>
        <span class="lineo"> 14</span>
        <span class="c1"> </span>
        <span class="lineo"> 15</span>
        <span class="c1"> </span>
        <span class="lineo"> 16</span>
        <span class="c1"> </span>
        <span class="lineo"> 17</span>
        <span class="c1"> </span>
        <span class="lineo"> 18</span>
        <span class="c1"> </span>
        <span class="lineo"> 19</span>
        <span class="c1"> </span>
        <span class="lineo"> 20</span>
        <span class="c1"> </span>
      </code>
    </pre>
  </div>
</div>