---
layout: default
filter: haml
---
#intro_y
#left
  = render :partial => "/fragments/codeorganization"
  = render :partial => "/fragments/relatedtechnology"
  = render :partial => "/fragments/relatedsites"
#right
  = @content
  %div{:style => "clear: both"}
