---
layout: default
filter: haml
---
#intro_y
#left
  The 
  %a{:href => "/technology/index.html"}Yogo Framework
  contains:
  %ul
    %li
      %a{:href => "/technology/yogo-db.html"}Yogo Database
    %li
      %a{:href => "/technology/yogo-project.html"}Yogo Project
    %li
      %a{:href => "/technology/yogo-auth.html"}Yogo Authorization
    %li
      %a{:href => "/technology/yogo-annotation.html"}Yogo Annotation
    %li
      %a{:href => "/technology/yogo-publishing.html"}Yogo Publishing
    %li
      %a{:href => "/technology/yogo-misc.html"}Yogo Miscellaneous
  %br
  = render :partial => "includes/relatedsites"
  = render :partial => "includes/relatedtechnology"
#right
  = @content
  %div{:style => "clear: both"}
