---
layout: default
filter: haml
---

#intro
#left
  %h2 Does your lab look like this?
  %p Whether it's your whiteboards or your hard drives, we're betting you would like a cleaner, smarter, simpler system. With Yogo Data Management System, you can make those changes yourself, without hiring a team of programmers to construct a system for you. This is a powerful tool for organizing, storing and sharing your data.
  /
    <ul id="leftmenu">
    <li><a href="#">See it in action</a></li>
    <li><a href="#">Read what others have to say</a></li>
    <li><a href="#">Try it out!</a></li>
    </ul>
  %strong Try it out!
  %p
    You can log in to these new systems with
    username "demo" and password "demo".
  %ul#leftmenu
    %li
      %a{:href => "http://apps.montana.edu/cercaldb", :target => "_blank"} CercalDB
    %li
      %a{:href => "http://fad.msu.montana.edu/", :target => "_blank"} Faculty Activity Database
    %li
      %a{:href => "http://apps.montana.edu/cloverdemo", :target => "_blank"} Probe Database System
  #notice
    %p
      If you have any questions or comments, please
      = succeed "." do
        %a{:href => "mailto:neurosys-support@montana.edu"} contact us
#right
  = @content
  %div{:style => "clear: both"}
