---
layout: default
---

<div id="intro">
	</div>
</div>	
<div id="left">
	<h2>Does your lab look like this?</h2>
	<p>Whether it's your whiteboards or your hard drives, we're betting you would like a cleaner, smarter, simpler system. With Yogo Data Management System, you can make those changes yourself, without hiring a team of programmers to construct a system for you. This is a powerful tool for organizing, storing and sharing your data.</p>
	
	<!-- <ul id="leftmenu">
		<li><a href="#">See it in action</a></li>
		<li><a href="#">Read what others have to say</a></li>
		<li><a href="#">Try it out!</a></li>
	</ul> -->
		
	<strong>Try it out!</strong>
	
	<p>You can log in to these new systems with 
	username "demo" and password "demo".</p>

	<ul id="leftmenu">
		<li><a href="http://apps.montana.edu/cercaldb" target="_blank">CercalDB</a></li>
		<li><a href="http://fad.msu.montana.edu/" target="_blank">Faculty Activity Database</a></li>
		<li><a href="http://apps.montana.edu/cloverdemo" target="_blank">Probe Database System</a></li>
	</ul>

	<div id="notice">
		<p>If you have any questions or comments, please <a href="mailto:neurosys-support@montana.edu">contact us</a>.</p>
	</div>
</div>

<div id="right">
	<%= @content %>
	<div style="clear: both"></div>
</div>
	
