---
layout: default
filter: haml
---
#intro_y
#left
  %strong Yogo Projects
  %ul#leftmenu
    %li
      %a{:href => "cercaldb.html"} CercalDB
    %li
      %a{:href => "fad.html"} Faculty Activity Database
    %li
      %a{:href => "clover.html"} Clover
    %li
      %a{:href => "crux.html"} Crux
  %strong See Them In Action
  %p Check out our projects by visiting the links below. If the site requires a login just use the username "demo" and the password "demo".
  %ul#leftmenu
    %li
      %a{:href => "http://apps.montana.edu/cercaldb", :target => "_blank"} CercalDB
    %li
      %a{:href => "http://fad.msu.montana.edu", :target => "_blank"} Faculty Activity Database
    %li
      %a{:href => "http://apps.montana.edu/cloverdemo", :target => "_blank"} Clover
#right
  = @content
  %div{:style => "clear: both"}

