---
layout: manual
filter: haml
---
%h2 Array screen widget
#history-page
  %p
    Array screen widgets contain collections of data "screens," where each screen
    has the same organizational structure. In other words, screens in an array all
    contain the same widgets.
  %p
    An example of this is shown below, in which each
    screen contains information about one journal article.  So each screen has the
    same text fields to fill out. The user would add a new article by clicking the
    "Add New Screen" button, and then filling out the text fields with the new
    information.
  %h3 Example:
  %img{:src => "/images/history/widgets/arrayscreen_ex.jpg"}/

  %p In the Create Form tab, click on the array screen widget icon in the toolbar.
  %img{:src => "/images/history/widgets/arrayscreen.jpg"}/
  
  %p A new array screen widget appears with a default label.
  %img{:src => "/images/history/widgets/as1.jpg"}/
  
  %p Double click on the label to change it to the label you would like to use.
  %img{:src => "/images/history/widgets/as2.jpg"}/

  %p
    You may add whatever widgets you would like to the screen by clicking on their icons
    in the toolbar, and then dragging them into the array screen widget.  Keep in mind that
    each widget you add will show up on every screen, in the same position and with the
    same name. It will just be able to contain a different value.
  %img{:src => "/images/history/widgets/as4.jpg"}/

#page-links
  .previous
    %a{:href => "tree.html"} Previous page
  .next
    %a{:href => "select.html"} Next page
  .top
    %a{:href => "array.html"} Return to top of page
