---
layout: manual
filter: haml
---
%h2 Banner widget
#history-page
  %p
    The banner widget allows you to give your data form a title. Banners are not
    saved as searchable text, however.

  %h3 Example:
  %img{:src => "/images/history/widgets/banner_ex.jpg"}/

  %p In the Create Form tab, click the banner widget icon in the toolbar.
  %img{:src => "/images/history/widgets/banner.jpg"}/

  %p You will be presented with three choices for the size of your banner.
  %img{:src => "/images/history/widgets/banner2.jpg"}/

  %p
    Select the size you wish to use. This is what the sizes will look like in
    your form:
  %img{:src => "/images/history/widgets/banner_sizes.jpg"}/

  %p For this example, we selected "Biggest." The banner widget appears with a default name.
  %img{:src => "/images/history/widgets/bnr1.jpg"}/

  %p Double click on the default name to enter the title you wish to use.
  %img{:src => "/images/history/widgets/bnr2.jpg"}/
  %img{:src => "/images/history/widgets/bnr3.jpg"}/

  %p You could also use a combination of banner sizes, as shown here:
  %img{:src => "/images/history/widgets/bnr4.jpg"}/

#page-links
  .previous
    %a{:href => "url.html"} Previous page
  .next
    %a{:href => "checkbox.html"} Next page
  .top
    %a{:href => "banner.html"} Return to top of page