---
layout: manual
filter: haml
---
%h2 Checkbox widget
The checkbox widget provides a simple way to record answers to yes/no questions
in your data.
%br/
%br/
%b Example:
%br/
%img{:src => "images/checkbox_ex.jpg"}/
%br/
%br/
In the Create Form tab, click on the checkbox widget icon in the toolbar.
%br/
%br/
%img{:src => "images/checkbox.jpg"}/
%br/
%br/
The checkbox widget appears with a default name.
%br/
%br/
%img{:src => "images/cb1.jpg"}/
%br/
%br/
Double click the name to change it to whatever you would like.
%br/
%br/
%img{:src => "images/cb2.jpg"}/
%br/
%br/
That's it! The checkbox is ready to record data in Enter Data mode.
%br/
%br/
%img{:src => "images/cb3.jpg"}/
%br/
%br/
%br/
%br/
%br/
%br/
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left"}
      %a{:href => "banner.html"} Previous page
    %td{:align => "center"}
      %a{:href => "checkbox.html"} Return to top of page
    %td{:align => "right"}
      %a{:href => "list.html"} Next page
