---
layout: manual
filter: haml
---
%h2 Date widget
#history-page
  %p
    The data widget allows you to store a date in your data form. By default, it
    will appear with today's date. To change the date, click the arrow at the right
    side of the date widget. A calendar appears. To change the month, click the
    left or right arrows at the top of the calendar. (A single click changes by
    one month. If you hold the left mouse button down the time advances rapidly
    forward or back.) Once you have the right year and month, click the correct
    day. The calendar automatically enters the date, in yyyy-mm-dd format.
    
  %h3 Example
  %img{:src => "/images/history/widgets/date_ex.jpg"}/

  %p
    To place a date widget in your data form, click on the
    date widget icon in the toolbar.
  %img{:src => "/images/history/widgets/date.jpg"}/

  %p The data widget appears with a default label.
  %img{:src => "/images/history/widgets/dt1.jpg"}/

  %p Double click on the label to enter an appropriate name.
  %img{:src => "/images/history/widgets/dt2.jpg"}/
  %img{:src => "/images/history/widgets/dt3.jpg"}/


#page-links
  .previous
    %a{:href => "value.html"} Previous page
  .next
    %a{:href => "space.html"} Next page
  .top
    %a{:href => "date.html"} Return to top of page