---
layout: manual
filter: haml
---
%h2 Date widget
The data widget allows you to store a date in your data form. By default, it
will appear with today's date. To change the date, click the arrow at the right
side of the date widget. A calendar appears. To change the month, click the
left or right arrows at the top of the calendar. (A single click changes by
one month. If you hold the left mouse button down the time advances rapidly
forward or back.) Once you have the right year and month, click the correct
day. The calendar automatically enters the date, in yyyy-mm-dd format.
%br/
%br/
%img{:src => "images/date_ex.jpg"}/
%br/
%br/
To place a date widget in your data form, click on the
date widget icon in the toolbar.
%br/
%br/
%img{:src => "images/date.jpg"}/
%br/
%br/
The data widget appears with a default label.
%br/
%br/
%img{:src => "images/dt1.jpg"}/
%br/
%br/
Double click on the label to enter an appropriate name.
%br/
%br/
%img{:src => "images/dt2.jpg"}/
%br/
%br/
%img{:src => "images/dt3.jpg"}/
%br/
%br/
%br/
%br/
%br/
%br/
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left"}
      %a{:href => "value.html"} Previous page
    %td{:align => "center"}
      %a{:href => "date.html"} Return to top of page
    %td{:align => "right"}
      %a{:href => "space.html"} Next page
