---
layout: manual
filter: haml
---
%h2 Screen select widget
Screen select widgets are containers that store a collection of data "screens."
Unlike the array screen widget, however, the screens can be entirely different
from each other. They are useful for storing different kinds of data that will
be accessed or entered in the same context-- for example, in preparing for an
experiment.
%br/
%br/
In the example shown below, the screen select widget allows the user to choose
between screens
for computers, microscope, bench and camera, and all of these relate to data about
preparation procedures.
%br/
%br/
%b Example:
%br/
%img{:src => "images/screenselect_ex.jpg"}/
%br/
%br/
In the Create Form tab, click on the screen select widget icon in the toolbar.
%br/
%br/
%img{:src => "images/screenselect.jpg"}/
%br/
%br/
An empty screen select widget appears, with a default label.
%br/
%br/
%img{:src => "images/ss1.jpg"}/
%br/
%br/
Double click on the green default label to change it to an appropriate name, and
click "Accept."
%br/
%br/
%img{:src => "images/ss2.jpg"}/
%br/
%br/
Now double click on the default screen label-- in this case, "PanelWidget52"-- to
change it to the name of your first data screen.
%br/
%br/
%img{:src => "images/ss4.jpg"}/
%br/
%br/
Your first data screen now has a name. Go ahead and add some other widgets by first
clicking on their icon in the toolbar, and then dragging them inside the box outlining
the data screen.
%br/
%br/
%img{:src => "images/ss5.jpg"}/
%br/
%br/
Here we have added three checkboxes and a multi line text field. Now we are ready to
add a new data screen.  To do this, click on the black arrow just to the right of
the data screen name, and choose the option, "Add New Screen."
%br/
%br/
%img{:src => "images/ss6.jpg"}/
%br/
%br/
Enter a name for the new data screen.
%br/
%br/
%img{:src => "images/ss7.jpg"}/
%br/
%br/
In this new screen, we added a banner, a checkbox, three pull-down menus, and a multi line
text field.
%br/
%br/
%img{:src => "images/ss8.jpg"}/
%br/
%br/
This is what the screen select widget will look like in Enter Data mode.
%br/
%br/
%img{:src => "images/ss_enterdata_mode.jpg"}/
%br/
%br/
The user can switch between data screens by selecting them from the pull-down menu at
the top.
%br/
%br/
%img{:src => "images/ss_enterdata_mode2.jpg"}/
%br/
%br/
Now data has been stored in the "Camera" screen, and the user can enter data in the
"Computer" screen.
%br/
%br/
%img{:src => "images/ss_enterdata_mode3.jpg"}/
%br/
%br/
%br/
%br/
%br/
%br/
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left"}
      %a{:href => "array.html"} Previous page
    %td{:align => "center"}
      %a{:href => "select.html"} Return to top of page
    %td{:align => "right"}
      %a{:href => "../deleteWidget.html"} Next page
