---
layout: manual
filter: haml
---
%h2 Screen select widget
#history-page
  %p
    Screen select widgets are containers that store a collection of data "screens."
    Unlike the array screen widget, however, the screens can be entirely different
    from each other. They are useful for storing different kinds of data that will
    be accessed or entered in the same context-- for example, in preparing for an
    experiment.
  %p
    In the example shown below, the screen select widget allows the user to choose
    between screens for computers, microscope, bench and camera, and all of these 
    relate to data about preparation procedures.

  %h3 Example:
  %img{:src => "/images/history/widgets/screenselect_ex.jpg"}/

  %p In the Create Form tab, click on the screen select widget icon in the toolbar.
  %img{:src => "/images/history/widgets/screenselect.jpg"}/

  %p An empty screen select widget appears, with a default label.
  %img{:src => "/images/history/widgets/ss1.jpg"}/

  %p
    Double click on the green default label to change it to an appropriate name, and
    click "Accept."
  %img{:src => "/images/history/widgets/ss2.jpg"}/

  %p 
    Now double click on the default screen label-- in this case, "PanelWidget52"-- to
    change it to the name of your first data screen.
  %img{:src => "/images/history/widgets/ss4.jpg"}/

  %p
    Your first data screen now has a name. Go ahead and add some other widgets by first
    clicking on their icon in the toolbar, and then dragging them inside the box outlining
    the data screen.
  %img{:src => "/images/history/widgets/ss5.jpg"}/

  %p
    Here we have added three checkboxes and a multi line text field. Now we are ready to
    add a new data screen.  To do this, click on the black arrow just to the right of
    the data screen name, and choose the option, "Add New Screen."
  %img{:src => "/images/history/widgets/ss6.jpg"}/

  %p Enter a name for the new data screen.
  %img{:src => "/images/history/widgets/ss7.jpg"}/
  
  %p
    In this new screen, we added a banner, a checkbox, three pull-down menus, and a multi line
    text field.
  %img{:src => "/images/history/widgets/ss8.jpg"}/
  
  %p This is what the screen select widget will look like in Enter Data mode.
  %img{:src => "/images/history/widgets/ss_enterdata_mode.jpg"}/
  
  %p The user can switch between data screens by selecting them from the pull-down menu at the top.
  %img{:src => "/images/history/widgets/ss_enterdata_mode2.jpg"}/

  %p
    Now data has been stored in the "Camera" screen, and the user can enter data in the
    "Computer" screen.
  %img{:src => "/images/history/widgets/ss_enterdata_mode3.jpg"}/

#page-links
  .previous
    %a{:href => "array.html"} Previous page
  .next
    %a{:href => "../deleteWidget.html"} Next page
  .top
    %a{:href => "select.html"} Return to top of page