---
layout: manual
filter: haml
---
%h2 Value widget
In this database system, simple integer values can be entered into a text field widget. The value widget,
however, provides a richer mechanism for specifying a number. Specifically, the
value widget provides additional menus for specifying
units (inches, mm, microns, kilograms, etc) and an optional confidence factor.
%br/
%br/
%b Example:
%br/
%img{:src => "images/value_ex.jpg"}/
%br/
%br/
In the Create Form tab, click on the value widget icon in the toolbar.
%br/
%br/
%img{:src => "images/value.jpg"}/
%br/
%br/
You will be given the choice of creating a whole number or decimal number widget.
%br/
%br/
%img{:src => "images/value2.jpg"}/
%br/
%br/
For this example, we chose a decimal number. The widget appears with a default label.
%br/
%br/
%img{:src => "images/vl1.jpg"}/
%br/
%br/
Double click on the label to change it to an appropriate name.
%br/
%br/
%img{:src => "images/vl2.jpg"}/
%br/
%br/
The widget is now ready to record data in Enter Data mode.
%br/
%br/
%img{:src => "images/vl3.jpg"}/
%br/
%br/
%br/
%br/
%br/
%br/
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left"}
      %a{:href => "list.html"} Previous page
    %td{:align => "center"}
      %a{:href => "value.html"} Return to top of page
    %td{:align => "right"}
      %a{:href => "date.html"} Next page
