---
layout: manual
filter: haml
---
%h2 Value widget
#history-page
  %p
    In this database system, simple integer values can be entered into a text field widget. The value widget,
    however, provides a richer mechanism for specifying a number. Specifically, the
    value widget provides additional menus for specifying
    units (inches, mm, microns, kilograms, etc) and an optional confidence factor.

  %h3 Example:
  %img{:src => "/images/history/widgets/value_ex.jpg"}/

  %p In the Create Form tab, click on the value widget icon in the toolbar.
  %img{:src => "/images/history/widgets/value.jpg"}/
  
  %p You will be given the choice of creating a whole number or decimal number widget.
  %img{:src => "/images/history/widgets/value2.jpg"}/

  %p For this example, we chose a decimal number. The widget appears with a default label.
  %img{:src => "/images/history/widgets/vl1.jpg"}/

  %p Double click on the label to change it to an appropriate name.
  %img{:src => "/images/history/widgets/vl2.jpg"}/

  %p The widget is now ready to record data in Enter Data mode.
  %img{:src => "/images/history/widgets/vl3.jpg"}/

#page-links
  .previous
    %a{:href => "list.html"} Previous page
  .next
    %a{:href => "date.html"} Next page
  .top
    %a{:href => "value.html"} Return to top of page