---
layout: default
---
		<div id="intro_y">
			</div>
		</div>	
		<div id="left">

			<strong>Try it out! </strong><br>
			
			You can log in to these new systems with 
			username "demo" and password "demo" <br>
			<ul id="leftmenu">
				<li><a href="http://fad.msu.montana.edu/" target="_blank">Faculty Activity Database</a></li>
				<li><a href="http://apps.montana.edu/cloverdemo/" target="_blank">Probe Database System</a></li>
				<li><a href="#"></a></li>
			</ul>

			<strong>For more information: </strong><br>
			<ul id="leftmenu">
				<li><a href="https://forge.montana.edu/projects/show/yogo" target="_blank">The Yogo project development site</a></li>
			</ul>
					
		</div>
	
		<div id="right">
			{{ content }}
					
			<div style="clear: both"></div>
		</div>