---
layout: default
---
		<div id="intro_y">
			</div>
		</div>	
		<div id="left">
			
			<strong>Yogo Projects</strong>

			<ul id="leftmenu">
				<li><a href="cercaldb.html">CercalDB</a></li>
				<li><a href="fad.html">FAD</a></li>
				<li><a href="clover.html">Clover</a></li>
				<li><a href="milo.html">Milo</a></li>
			</ul>

			<strong>Try it out!</strong>
			
			<p>You can try out systems built using the Yogo toolkit by following the links below. If the application requires a login use the user name "demo" and the password "demo".</p>

			<ul id="leftmenu">
				<li><a href="http://apps.montana.edu/cercaldb/" target="_blank">CercalDB</a></li>
				<li><a href="http://fad.msu.montana.edu/" target="_blank">Faculty Activity Database</a></li>
				<li><a href="http://apps.montana.edu/cloverdemo/" target="_blank">Probe Database System</a></li>
			</ul>

			<strong>For more information:</strong>
			<ul id="leftmenu">
				<li><a href="https://forge.montana.edu/projects/show/yogo" target="_blank">The Yogo project development site</a></li>
			</ul>
					
		</div>
	
		<div id="right">
			{{ content }}
					
			<div style="clear: both"></div>
		</div>
