---
filter: haml
---
%a{:href => "/history/history.html"} Introduction
%table
  %tr
    %td{:width => "20px"}
    %td
      %li
        %a{:href => "/history/demo.html"} Brief Demo
  %tr
    %td
    %td
      %li
        %a{:href => "/history/form.html"} Designing a data form
  %tr
    %td
    %td
      %li
        %a{:href => "/history/search.html"} Searching the Database
%a{:href => "/history/tutorial.html"} Tutorial
%table
  %tr
    %td{:width => "20px"}
    %td
      %li
        %a{:href => "/history/login.html"} Logging In
  %tr
    %td
    %td
      %li
        %a{:href => "/history/tabs.html"} Tabs
  %tr
    %td
    %td
      %li
        %a{:href => "/history/start.html"} Starting from Scratch
  %tr
    %td
    %td
      %li
        %a{:href => "/history/modify.html"} Modifying Forms
  %tr
    %td
    %td
      %li
        %a{:href => "/history/nesting.html"} Nesting Widgets
%a{:href => "/history/create.html"} Creating Data Forms
%table
  %tr
    %td{:width => "14px"}
    %td
      %a Data Entry Widgets
  %table
    %tr
      %td{:width => "36px"}
      %td
        %li
          %a{:href => "/history/widgets/pulldown.html"} PullDownWidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/textfield.html"} TextfieldWidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/url.html"} URLwidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/banner.html"} BannerWidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/checkbox.html"} CheckboxWidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/list.html"} ListWidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/value.html"} ValueWidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/date.html"} DateWidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/space.html"} VerticalSpace
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/image.html"} ImageWidget
  %table
    %tr
      %td{:width => "14px"}
      %td
        %a Container Widgets
  %table
    %tr
      %td{:width => "36px"}
      %td
        %li
          %a{:href => "/history/widgets/tree.html"} TreeWidget
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/array.html"} Array Screen
    %tr
      %td
      %td
        %li
          %a{:href => "/history/widgets/select.html"} Screen Select
%a Editing Data Screens
%table
  %tr
    %td{:width => "20px"}
    %td
      %li
        %a{:href => "/history/deleteWidget.html"} Deleting Widgets
  %tr
    %td
    %td
      %li
        %a{:href => "/history/deleteForm.html"} Deleting forms
%a{:href => "/history/glossary.html"} Glossary
