---
filter: haml
---
%strong About MIEN
%ul
  %li
    %a{:href => "/mien/about.html"} What MIEN can do
  %li
    %a{:href => "/mien/contact.html"} MIEN Developers
%hr
%strong To use MIEN:
%ul
  %li
    %a{:href => "http://mien.msu.montana.edu/docs/install_quick.html", :target => "_blank"} Download and Install
  %li
    %a{:href => "/files/mien/MIEN_UserGuide.pdf"} User's Guide (PDF)
  Sample Data:
  %li
    %a{:href => "/files/mien/SampleMorphological.zip"} for CellViewer
    |
    %a{:href => "/files/mien/SampleTimeSeries.zip"} for DataViewer
%hr
%strong For more information:
%ul#leftmenu
  %li
    %a{:href => "http://mien.msu.montana.edu/", :target => "_blank"} MIEN project
