---
filter: haml
---
%strong Related Technology:
%br/
%ul#leftmenu
  %li
    %a{:href => "http://www.w3.org/TR/xquery/", :target => "_blank"} XQuery
  %li
    %a{:href => "http://www.mysql.com/", :target => "_blank"} MySQL