---
layout: manual
filter: haml
---

%h2 Brief Demo
#history-page
  %p
    Let's first get familiar with the NeuroSys environment, and then look at a sample
    a entry form for entering information about birds. The data in the bird database include
    images, journal articles (PDFs), and vocalizations (WAV files), as well as
    contributor name and contact information and the states in which a bird is found.
  %h3 The NeuroSys Environment
  %p
    The image below shows the java client window after logging in to the bird database. There
    are separate tabs for the four different ways you can interact with data: Browse,
    Enter Data, Search, and Create Form.
  %p
    %span.keyword Browse
    is a read-only view of your data form.
  %p
    %span.keyword Enter Data
    allows you to change data in an existing data form.
  %p  
    %span.keyword Search
    allows you to query data fields in all of the existing forms.
  %p  
    %span.keyword Create Form
    allows you to modify the data form itself.
  %p  
    %img{:alt => "Application Example", :src => "/images/history/Browse_files_displayed.jpg", :title => "Application Example"}/
  %p  
    By selecting (via single click) a bird name in the list, and then clicking the
    %span.keyword Enter Data
    button at the bottom of the window, you will be able to view the record in data entry format, 
    as shown here:
  %p  
    %img{:alt => "Enter Data Screen", :src => "/images/history/Enter_Data_1.jpg", :title => "Enter Data"}/

#page-links
  .previous
    %a{:href => "index.html"} Previous page
  .next
    %a{:href => "form.html"} Next page
  .top
    %a{:href => "demo.html"} Return to top of page
