---
layout: manual
filter: haml
---
%h2 Take a tour of the historical NeuroSys System
#history-page
  %p
    Explore the original form of NeuroSys-- take a tour through the system using the links to the 
    left. While this is a historic version of NeuroSys, much of the same functionality will carry 
    over to Yogo.
  %p 
    This tour will take you step-by-step through the processes of creating forms to store data, 
    querying the database, modifying forms, and more. If you want to get a better idea of the 
    capabilities and features of the NeuroSys Data Management System, this is a great place to 
    start!

#page-links
  .previous
  .next
    %a{:href => "/neurosys/demo.html"} Next page
  .top