---
layout: manual
filter: haml
---
%h2 Tutorial

#history-page
  %p
    The following pages present information in tutorial format, demonstrating how to log in, 
    create custom data entry and data query forms, and use those forms to create and query a 
    database. Section Three below presents more detailed definitions, descriptions and 
    applications of widgets.

#page-links
  .previous
    %a{:href => "search.html"} Previous page
  .next
    %a{:href => "login.html"} Next page
  .top
    /%a{:href => "search.html"} Return to top of page
